<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NOSToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3E370571CA3C7C600A9C333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3E3706B1CA3C7C600A9C333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3E370761CA3C7C600A9C333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3E3708C1CA3C7FD00A9C333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
